.centro {text-align: center; }

hr {background-color: gray; }

code, pre {font-family: monospace; font-size: medium; }

h1, h2, h3, h4 {color: #880000; }

th, td {vertical-align: top; padding: 0.3em;}

.back {text-align: right; }

.caption {font-family: Times, FreeSerif, 'Century Schoolbook L', 'Times New Roman', serif;
          text-align: center; padding: 0% 15% 0% 15%; font-size: larger; }

table {margin-left: auto; margin-right: auto; /*margin: 45px; *width: 480px;*/ border-collapse: collapse;
text-align: center; }

th {font-weight: normal;padding: 9px 7px; border-bottom: 2px solid; }

td {padding: 8px 7px 0px 7px; }

tbody tr:hover td {background-color: #F0F0F0; }

tbody.l {padding: 8px 7px 0px 7px; text-align: left;}

pre, code {font-family: 'Courier New', FreeMono, Courier, monospace; } /* font-size:110%; */

pre.xml	{margin-left: 20px; margin-right: 20px; padding: 10px; background-color: #eed; }
